/*Table of Contents
1. Reset
2. Universal Items
3. Header
4. Navigation
5. Footer
6.
*/

/* Featured Color -- #e4bdb8 */

/*This is the reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}
a {
    color: inherit;
    display: inline-block;
}
a:hover {
     color: #e4bdb8;
}

/*------Universal Section------*/

body {
    font-family: 'Lato', sans-serif;
    color: rgb(60,60,60);
    }
header, footer {
    padding: 2% 5%;
}
section {
  padding: 10vh 5%;
}

h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    margin-bottom: 0.5em;
}
h1 {
    font-size: 4.5rem;
}
h2 {
    font-size: 1.4rem;
    text-transform: uppercase;
    color:  #e4bdb8;
}
h3 {
   font-size: 1.2rem;
   text-transform: uppercase;
   color:  #e4bdb8;
}
.fa {
     color:  #e4bdb8;
}

p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
hr {
  border: none;
  border-top: 2px solid #e4bdb8;
  width: 45px;
  margin-bottom: 2rem;
  display: block;
}
.center hr {
  margin: 1rem auto 2rem;
}

ul {
  list-style-position: inside;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}
.no-padding {
    padding: 0;
}
.padding-1{
  display:inline-block;
  padding: 1%;
}
.block{
  display:block;
}
a {
  text-decoration: none;
}
.service-border {
  min-width: 70px;
  min-height: 70px;
  border-radius: 10px;
  border: 2px solid grey;
  padding: 1% 4%;
}
.project img {
  width:100%;
}
.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 0;
}
form label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 0.5em;
  color: #e4bdb8;
}
form input, form textarea {
  width: 100%;
  display: block;
  min-height: 40px;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #e4bdb8;
}
form textarea {
height: 150px;
}

input[type="submit"] {
  background-color: #e4bdb8;
  color: white;
  text-transform: uppercase;
  font-weight:bold;
}

.light-bg {
    background-color: rgb(252,252,252);
}

/*boxed border style*/
.boxed-border {
  border: 2px;
  border-color: #e4bdb8;
  border-style: solid;
  padding: 5%;
  margin-bottom:1rem;
}

/*------header section-----*/

.banner {
    min-height: 70vh;
    background-image: url("/images/desk.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
h1 {
  padding: 5%;
  font-size: 2.5rem;
  text-align: center;
}
.banner h2 {
  color: rgb(60,60,60);
  text-transform:none;
}

h3 {
      font-size: 1.2rem;
      padding: 10px 0;
}
h4{
  font-size: 1.5rem;
  padding: 10px 0;
}

header {
  background-color: #ffffff;
  height: 80px;
  padding: 0;
}
header nav, .nav-items {
  display: flex;
}
nav {
  justify-content: space-between;
}

nav a {
  display: block;
  padding: 0 1em;
  line-height: 80px;
}
nav a:hover {
  color: #e4bdb8;;
}

/* Mobile nav button */
.nav-button {
  display: none; /* hide button on desktops */

  background-color: transparent;
  border: none;
  color: #000;
  font-size: 30px;
}

/*This section is for mobile site */
@media (max-width: 50em) {

  nav {
    position: relative;
  }
  .nav-button {
    display: block; /* show button on mobile */
  }
  header .nav-items {
    display: none; /* hide menu on mobile */
  }
  .mobile-nav-active .nav-items {
    display: block; /* show menu on menu button click */
    width: 100%;
    background-color: #fff;
    text-align: right;
    position: absolute;
    top: 80px; /* height of nav */
    right: 0;
  }

}


/*-------body------------*/

.information {
  background-color: #efefef;
}
.small-button {
  font-size: 0.8rem;
  text-transform: uppercase;
  color:  #e4bdb8;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #e4bdb8;
}

.small-button:hover {
  color: #e4bdb8;
  border-width: 2px;
}


.information grid-3 {
  font-size:2rem:
  margin:1rem;
  text-align: justify;
  display:block;
}
.emphasis {
  font-size: 1.5rem;
}

/*----- Interactive blocks -----*/
.interactive-block {
  position: relative;
  overflow: hidden;
}
.interactive-button {
  display: inline-block;
  padding: 0.5em 1em;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 15px;
  margin-left: -45px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
}
.interactive-content {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  padding: 0 1em;
  text-align: center;
  color: #ffffff;
  transform: translateY(100%);
  transition: all 0.5s ease;
}
.interactive-content.active {
  transform: translateY(0);
}
/*This is the Services Section*/
.service-container {
  padding: 5%;
   margin: 0 auto;
}
.service {
  border: 1px solid #e4bdb8;
  padding: 5%;
  border-radius: 5px;
  margin-bottom: 5%;
}
.service li {
  margin-bottom: 2%;
}

/*This is the rates section*/

/*This is the contact section*/
.form h4 {
  line-height: 2;
}

/*--- This is my footer section---*/

.background {
    background-color: grey;
    color: white;
}

footer .fa {
  margin-right: 1rem;
}

/*my media queries go here at the bottom of the page*/

@media (max-width: 768px){
  .skills .box .box-feature {
    background-color: #eee;
  }
}
