<header>
<!--This is for header information-->
  <div class="logo">
    <!--This is where my logo will live  -->
    <p>logo</p>
  </div>
  <nav>
    <!--This is where my nav will reside  -->
    <a href="index">Home</a>
    <a href="about">About</a>
    <a href="services">Services</a>
    <a href="rates">Rates</a>
    <a href="contact">Contact</a>
  </nav>
</header>
<section class="banner">

  <div>
    <h1>{{page.banner-text}}</h1>
  </div>

  <div>
    <p>...Catchy Phrase</p>
  </div>
</section>
